body, html {
  height: 100%;
}

html {
	margin: 0 auto;
	color: #222;
    font-size: 1em;
    line-height: 1.4;
    overflow-y: scroll; <!-- this will force a vertical scroll bar even when not needed -->
}


body {
	padding: 0;
	margin: 0;
}

.container {
	width: 80%;
	margin: 0 auto;
	background: #e6e6e6;
}

header {
	background: #e6e6e6;
}


nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 24px;
	font-family: "Courier New", Courier, monospace;
	text-align: center;

}

nav li {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	
}

nav li:hover {
	background-color: #ffffff
}

nav ul li a {
	color: #4d4d4d;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
}

h1 {
	padding-left: 25%;
}

.alignment {
	padding-left: 30%;
	padding-right: 30%;
}

.alignment p { 
	padding-left: 1.8em;
	font-size: 18px;
}

.center {
	text-align: center;
}

#bg {
            width: 100%;
            height: 30%;
            max-height: 100%;
            margin: 0;
            padding: 0;
            background-image: url('http://backgroundcheckall.com/wp-content/uploads/2017/12/coding-background-9.jpg');
            background-size:100% 100%;
            background-repeat: no-repeat;
        }