body, html {
	height: 100%;
}

html {
	margin: 0 auto;
	font-size: 1em;
	line-height: 1.4;
	overflow-y: scroll; <!-- this will force a vertical scroll bar even when not needed -->
}

body {
	padding: 0;
	margin: 0;
	background-image: url(https://backgroundcheckall.com/wp-content/uploads/2017/12/website-background-design-5.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.content{
	background: #f2f2f2;
	width: 50%;
	padding: 40px;
	padding-bottom: 75px;
	margin: 100px auto;
	margin-top: 0px;
}

nav{
	list-style: none;
	text-align: center;
	font-size: 24px;
	
}


nav ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background: #0d0d0d;
}

nav li {
	float: center;
	display: inline;
}

nav li a {
	display: inline-block;
  	color: #d9d9d9;
  	text-align: center;
  	padding: 10px 25px;
  	text-decoration: none;
}

nav li a:hover {
	background-color: #696969
}

h1 {
	text-align: center;
	color: #696969;
}

.alignment {
	padding-left: 10%;
	padding-right: 10%;

}

.alignment h2{
	background-color: #696969;
	color: white;
}

.alignment p { 
		font-size: 18px;
		padding-left: 10%;
		padding-right: 10%;
}

.center {
	text-align: center;
}

#bg {
            width: 100%;
            height: 35%;
            max-height: 100%;
            margin: 0;
            padding: 0;
            background-image: url('http://backgroundcheckall.com/wp-content/uploads/2017/12/coding-background-9.jpg');
            background-size:100% 100%;
            background-repeat: no-repeat;
        }